@page "/addexpense"
@using Madeni.Shared.Dtos
@using Microsoft.AspNetCore.Authorization
@inject ILogger<AddExpense> Logger
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
<h4>Add Expense</h4>

<EditForm Model="@ExpenseDto" OnValidSubmit="@HandleValidSubmit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ExpenseDto.Name" class="control-label">Name</label>
        <input asp-for="ExpenseDto.Name" @bind="ExpenseDto.Name" class="form-control" />
        <span asp-validation-for="ExpenseDto.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExpenseDto.Date" class="control-label">Amount</label>
        <input asp-for="ExpenseDto.Date" type="date" @bind="ExpenseDto.Date" class="form-control" />
        <span asp-validation-for="ExpenseDto.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExpenseDto.Amount" class="control-label">Amount</label>
        <input asp-for="ExpenseDto.Amount" @bind="ExpenseDto.Amount" class="form-control" />
        <span asp-validation-for="ExpenseDto.Amount" class="text-danger"></span>
    </div>
    <div class="form-group">        
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>
@code {
    public ExpenseDto ExpenseDto { get; set; } = new ExpenseDto();
    public string? UiMessage { get; set; } = "";
    private string? userId = "";
    protected override async void OnInitialized()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            userId = user.Claims.Where(x => x.Type == "sub").Select(x => x.Value).FirstOrDefault();
        ExpenseDto = new ExpenseDto();
    }
    private async Task  HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        try
        {
            ExpenseDto.UserId = userId;
            var result = await Http.PostAsJsonAsync("/api/expenses", ExpenseDto);
            UiMessage = "Expense Added";
            NavigationManager.NavigateTo("/expenses");
        }
        catch (Exception exception)
        {
            UiMessage = exception.Message;
        }
    }
}
