@page "/addincome"
@using Madeni.Shared.Dtos
@using Microsoft.AspNetCore.Authorization
@inject ILogger<AddIncome> Logger
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
<h3>Add Income</h3>

<EditForm Model="@IncomeDto" OnValidSubmit="@HandleValidSubmit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="IncomeDto.Name" class="control-label">Name</label>
        <input asp-for="IncomeDto.Name" @bind="IncomeDto.Name" class="form-control" />
        <span asp-validation-for="IncomeDto.Name" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="IncomeDto.Date" class="control-label">Amount</label>
        <input asp-for="IncomeDto.Date" type="date" @bind="IncomeDto.Date" class="form-control" />
        <span asp-validation-for="IncomeDto.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IncomeDto.Amount" class="control-label">Amount</label>
        <input asp-for="IncomeDto.Amount" @bind="IncomeDto.Amount" class="form-control" />
        <span asp-validation-for="IncomeDto.Amount" class="text-danger"></span>
    </div>
    <div class="form-group">        
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>
@code {
    public IncomeDto? IncomeDto { get; set; }
    public string? UiMessage { get; set; } = "";

    protected override void OnInitialized()
    {
        IncomeDto = new IncomeDto();
    }
    private async Task  HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        try
        {
                        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            var userId = user.Claims.Where(x => x.Type == "sub").Select(x => x.Value).FirstOrDefault();
            IncomeDto.UserId = userId;
            var result = await Http.PostAsJsonAsync("/api/Incomes", IncomeDto);
            UiMessage = "Income Added";
            NavigationManager.NavigateTo("/incomes");
        }
        catch (Exception exception)
        {
            UiMessage = exception.Message;
        }
    }
}
