@page "/expenses"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Madeni.Shared;
@using Madeni.Shared.Dtos
@using System.Globalization
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<PageTitle>My Expenses</PageTitle>

<h1>My Expenses</h1>

<p>This is a list of all your expenses.</p>

@if (ExpenseDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ExpenseDto in ExpenseDtos)
            {
                <tr>
                    <td>@ExpenseDto.Name</td>
                    <td>@ExpenseDto.Date.ToString("dd/MM/yyyy")</td>
                    <td>@ExpenseDto.Amount.ToString("C", CultureInfo.CreateSpecificCulture("en-KE"))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            Total : @ExpenseDtos.Sum(i => i.Amount).ToString("C", CultureInfo.CreateSpecificCulture("en-KE"))
        </tfoot>
    </table>
}

@code {
    private ExpenseDto[]? ExpenseDtos;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            var userId = user.Claims.Where(x => x.Type == "sub").Select(x => x.Value).FirstOrDefault();
            ExpenseDtos = await Http.GetFromJsonAsync<ExpenseDto[]>("/api/expenses?userId"+userId);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
